{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% capture defunded_date %}{{ site.funded-until | date: '%s'}}{% endcapture %}
{% if defunded_date > nowunix %}

<!-- If funded -->
<div class="rounded bg-gradient-funded text-white shadow p-5 text-center mb-5">
	<p class="mb-0 font-weight-bold text-uppercase">The US Federal Government will shutdown in:</p>
	<div id="clock" class="countdown pt-4"></div>
</div>

{% else %}

<!-- If !funded -->
<div class="rounded bg-gradient-defunded text-white shadow p-5 text-center mb-5">
	<p class="mb-5 font-weight-bold text-uppercase">The US Federal Government is currently shutdown.</p>
	<p class="lead"><u><a href="https://www.congress.gov/contact-us" target="_blank" class="text-white">Contact your member of Congress</a></u> to ask them to fund the government.</p>
</div>

{% endif %}