<div class="row mb-5">
  <div class="col">
    <div class="accordion" id="accordionExample">
      {% for item in site.data.faq %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            {% if forloop.first == true %}
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#faq-{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne">
            {% else %}
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq-{{ forloop.index }}" aria-expanded="false" aria-controls="faq-{{ forloop.index }}">
            {% endif %}
              {{ item.q }}
            </button>
          </h2>
        </div>
        {% if forloop.first == true %}
        <div id="faq-{{ forloop.index }}" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-{{ forloop.index }}">
        {% else %}
        <div id="faq-{{ forloop.index }}" class="collapse" aria-labelledby="faq-{{ forloop.index }}" data-parent="#faq-{{ forloop.index }}">
        {% endif %}
          <div class="card-body">
            {{ item.a }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>